@tailwind base;
@tailwind components;
@tailwind utilities;

#hadeethContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    border-top: 10px;
}

#hadeethContent__text {
    font-size: 25px;
    line-height: 35px;
    max-height: 50vh;
    max-width: calc(100vw - 280px);
    min-width: 400px;
    overflow: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    background-color: rgb(45, 55, 72, .45);
    backdrop-filter: blur(.1rem);
    color: #fff;
    font-family: "AmiriQuran-Regular",serif;
    border-radius: .375rem;
}

#hadeethDetails {
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #fff;
    color: hsla(0,0%,100%,0);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7f7f81;
}
