@tailwind base;
@tailwind components;
@tailwind utilities;

p.hadeeth-content {
    position: fixed;
    top: 50%;
    left: 20%;
    max-width: 60%;
    background-color: rgb(202, 202, 205);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}